@model BusinessLogic.Models.MultiModels.CustomerBillViewModel

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media='screen,print'>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/Scripts/CustomJS/BillJS.js"></script>*@
<script>

    $(document).ready(function () {
        $('#billInfo').hide()
        $('input:text[id="MobNo"]').blur(function (e) {
            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g, '');
            if (phone.length != 10 & phone.length > 0) {
                alert('Phone number must be 10 digits.');
                $('#phonenumber').val('');
                $('#phonenumber').focus();
            }
        });
        var pay = {};
        var bill = {};
        var customer = {};
        var BillID; var TableNo; var CustomerName; var MobNo; var totalBill; var CashTaken;
        $("p").hide();
        $("#PayBill").hide();
        $("#SelectedTable").change(function () {
            TableNo = $(this).find('option:selected').val();
            localStorage.setItem("TableNo", TableNo);
        });
        newTable = TableNo;
        
        //On click of amount received is gets substracted from total Bill and that amt is shown and customer object is updated with the information.
        $("#Pay").click(function () {
            $("getTable").hide();
            $('#billInfo').show();         
            var CashTaken = document.getElementById("amountReceived").value;
            BillID = $("#orderIndex").text();
            CustomerName = $("#CustomerName").val();
            MobNo = $("#MobNo").val();
            totalBill = $("#totalBillId").text();
            if (CashTaken < totalBill - 1) {
                alert("Enter Proper Amount :: Received amount should be greater than total bill or equals to")
            }
            else {
                $("p").show();
                $("#PayBill").show();
                var amountReturnedValue = CashTaken - totalBill;
                document.getElementById("amountReturned").value = amountReturnedValue;
                bill.TotalPrice = totalBill;
                bill.BillID = BillID;
                bill.TableNo = localStorage.getItem("TableNo");
                $("#getTable").hide();
                var span = document.getElementById("tableIDSelected");
                span.textContent = localStorage.getItem("TableNo");
                bill.CashTaken = CashTaken;
                bill.CashReturned = amountReturnedValue;
                pay.bill = bill;
                customer.Name = CustomerName;
                customer.MobNo = MobNo;
                customer.BillID = BillID;
                pay.customer = customer;
                $("#Pay").hide();
            }
        });
        //Paybill post the information stored in pay object to controller.
        $("#PayBill").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("BillUpdate","Home")',
                datatype: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pay),
                success: function (data) {
                    alert("Successfully Done");
                    window.print();
                    window.location = '@Url.Action("Index", "Home")';
                },
                error: function (data) {
                    alert("Error While Updating Bill Data")
                    console.log(JSON.stringify(data));
                }
            });
        });
    });

</script>
<body>
    <div class="form-control" align="center">
        <div>
            <div>
                <h1>FooD Court</h1>
                33,Pratap Nagar Square, Nagpur-440020
                <br>
                Mob No: 9637418520
            </div>
            <div>
                <h5 class="form-group font-weight-bold">
                    Bill For Table No: <Span id="tableIDSelected"></Span>
                </h5>
                @using (Html.BeginForm())
                {
                    if (Model.TableList != null)
                    { @Html.DropDownListFor(model => model.SelectedTable, new SelectList(Model.TableList, "TableID", "TableID"), "--Select--", new { @id = "SelectedTable" })
                    } <button class="btn btn-outline-success" onclick="$('#billInfo').show()" type="submit" id="getTable"> Get Details </button>
                }
                <h5 align="right"> Date:@System.DateTime.Now</h5>

            </div>

            <h3 class="input-group-text text-secondary">
                Name:  <input style="margin-left:10px; margin-right:10px" class="font-weight-bold" type="text" id="CustomerName" placeholder="Optional" />
                MobNo:  <input style="margin-left:10px" class="font-weight-bold" type="text" maxlength="10" id="MobNo" placeholder="Optional" />
            </h3>
            <h4>Order Details:</h4><div id="billInfo">
                Bill Id: <span class="active" id="orderIndex"> @Model.OrderList[0].OrderIndex</span>
                Order Time: <span class="active" id="orderTime">@Model.OrderList[0].OrderTime </span>
            </div>

            <table class="table" id="MenuTable">
                <tr>
                    <th>
                        Index
                    </th>
                    <th>
                        Menu ID
                    </th>
                    <th>
                        Rate
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Item Price
                    </th>
                </tr>
                @for (int i = 0; i < Model.OrderList.Count; ++i)
                {

                    <tr>
                        <td id="itemId-@i">@(i + 1)</td>
                        <td id="itemId-@i">@Model.OrderList[i].OrderId</td>
                        <td id="itemName-@i">@(Convert.ToDecimal(Model.Bills.ItemPrice[i]) / Convert.ToInt32(Model.OrderList[i].Quantity))</td>
                        <td id="itemName-@i">@Model.OrderList[i].Quantity</td>
                        <td id="itemName-@i">@Model.Bills.ItemPrice[i]</td>

                    </tr>
                }
            </table>
        </div>

        <div class="row col-12">
            <div class="col-4" style="margin:0;">
                Taxes:<br />
                CGST:<span class="">
                    @Model.Tax.CGST %
                </span> <br /><span>
                    SGST: @Model.Tax.SGST%
                </span><br /><span>
                    ServiceTax:@Model.Tax.ServiceTax%
                </span><br />
            </div><div class="col-4">
                Total Bill:<span id="totalBillId">@Model.Bills.TotalBill </span>
                <h5>
                    Pay Bill:
                </h5>
                Amount <input type="text" id="amountReceived" placeholder="Enter Amount" required />
                <p> Amount Returned <input type="button" class="btn btn-outline-info disabled" id="amountReturned" placeholder="Amount" /></p>
                <button class="btn-outline-success" id="Pay">Submit</button>
                <button class="btn-success" id="PayBill">PayBill</button>
            </div>
        </div>
    </div>
</body>