@model IEnumerable<BusinessLogic.Models.OrderViewModel>

@{
    ViewBag.Title = "Details";
}

<h2> Current Order Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TableNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TableNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
        </tr>
    }

</table>
